/*variables*/
$fondo-menu: #eea63bb9;
$fuente-ppal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$color-fondo: #ffffff;
$color-h2: #f06f1996;
$fuente-h2: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
$weight-h2: lighter;
$style-h2: italic;
$fuente-h1: #0a0a0a, center, bolder, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$color-boton: peru;

